
body {
    font-family: 'source sans pro';
    padding:20px;
}
h1,h2,h3,h4,h5,h6,h7,h8,._heading._1,._heading._2,._heading._3,._heading._4{
    font-family:'oxygen'
}
._heading._1{
    font-size: 2em;
}
._heading._2{
    font-size: 1.5em;
}
._heading._2:hover{
    cursor:pointer;
}
._heading._3{
    font-size: 1.17em;
}
._heading._4{
    
}
._heading{
   font-weight: bold; 
}
input[type=button]{
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    padding: 15px;
    border-radius: 2px;
    margin:5px;
}
input[type=button]:hover{
        cursor: pointer;
    color: #0059ee;
    border: 2px solid #0059ee;
}
input[type=button]:disabled{
    background-color: white;
    border: 2px solid #808080;
    font-weight: bold;
    padding: 15px;
    border-radius: 2px;
    margin:5px;
}
input[type=button]:disabled:hover{
    color:#808080;
    cursor:default;
}
input[type=submit]{
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
    padding: 15px;
    border-radius: 2px;
    margin:5px;
}
input[type=submit]:hover{
        cursor: pointer;
    color: #0059ee;
    border: 2px solid #0059ee;
}
input[type=radio]{
    transform: scale(1.5);
    -webkit-filter: invert(1);
    filter: invert(1);
}
input[type=checkbox]{
    transform: scale(1.5);
    -webkit-filter: invert(1);
    filter: invert(1);
}
a {
    color:#0059ee;
    text-decoration: none;
}
input[type=text] {
    width: 250px;
    height: 5px;
    border: 2px solid #d8d8d8;
    padding: 20px 0px 20px 10px;
    margin: 5px;
}
textarea{
    width: 250px;
    height: 5px;
    border: 2px solid #d8d8d8;
    padding: 20px 0px 20px 10px;
    margin: 5px;
    /*resize:none;*/
    overflow:hidden;
}