*{padding:0;margin:0;outline:0px;font-family:'Questrial';-webkit-font-smoothing:antialiased;vertical-align:top;box-sizing:border-box}
html,body{background-color:#eeeeee}
button,input[type="button"]{cursor:pointer;text-align:center !important;}
dialog i.fa.fa-times{margin-right:15px;}
dialog i.fa{color:#FFF;}
dialog .editable i.fa{color:#000000}
.multieditables{margin-left:15px;margin-right:15px;margin-bottom:15px;display:block;}
#tag--KLZIQYY4um2eCabZMGU-desc1, #tag--KLZIQYY4um2eCabZMGU-desc2{min-width:700px !important;min-height:150px;}
a{text-decoration:none;color:#AC2217;}
a:hover{color:#5a1510;}
i.fa:hover{color:#fff}
a{text-decoration:none;color:#000000;}
a:hover{color:#AC2217;}
i.fa:hover{}
.fl{float:left}.fr{float:right}
.resizable{overflow:scroll;resize:both;max-width:300px;max-height:460px;}
#logindiv{position:absolute;text-align:center;left:0;right:0;top:40%}
#logindiv button{font-size:34px;width:48px;height:50px;background-color:rgba(240,240,255,0);color:#AC2217;padding-top:8px;border:1px solid #AC2217;}
#mainwrap{position:absolute;left:346px;top:0px;right:0px;bottom:0px;}
#leftwrap{position:absolute;width:341px;top:0px;bottom:0px;transition:300ms ease;-webkit-transition:190ms ease;}
.noleft #mainwrap{left:0}.noleft #leftwrap{overflow:hidden;width:0%;opacity:0;}
.top-bar{height:50px;background-color:#5a1510;}
#rightwrap{top:50px;right:0px;bottom:0px;position:absolute;}
#rightwrap.fly-out{display:none}
#mainwrap.homeview #detailsview,#mainwrap.homeview #resultsview{display:none}
#mainwrap.detailsview #homeview,#mainwrap.detailsview #resultsview{display:none}
#mainwrap.resultsview #detailsview,#mainwrap.resultsview #homeview{display:none}
#resultsview{border-left:0px solid #AC2217;background-color:#e8e8e8}
.noleft #resultsview{border-left:none;}
.top-bar button,#logindiv button{transition:800ms ease;-webkit-transition:100ms ease;font-size:34px;width:48px;height:50px;background-color:transparent;color:#AC2217;border:1px solid #AC2217;border:none !important;transition:100ms ease;-webkit-transition:100ms ease;}
.top-bar .icon{color:white}
.top-bar button.pushed{background-color:#AC2217;color:#000;}
.top-bar button:hover{background-color:#AC2217;}
.top-bar button.fl{margin-right:2px;}
.top-bar button.fa-tagplus .fa-plus-circle{font-size:11px;margin-top:16px;margin-left:-21px;color:#fff;position:absolute;transition:100ms ease;-webkit-transition:100ms ease;}
.top-bar button.fa-docplus .fa-plus-circle{font-size:11px;margin-top:16px;margin-left:-15px;color:#fff;position:absolute;transition:100ms ease;-webkit-transition:100ms ease;}
.top-bar button:hover .fa-plus-circle{}
.top-bar #pattern{height:47px;font-size:32px;color:#AC2217;padding-top:8px;padding-bottom:6px;padding-left:8px;border:none;border-bottom:none;background-color:#e8e8e8}
.autocompleteghost{top:45px;left:192px;background-color:#e8e8e8;max-height:250px;overflow-y:auto;}
.autocompleteghost button.actbresult{float:left;clear:left;width:332px;text-align:left !important;border-bottom:2px dashed #AC2217 !important;padding-left:5px;}
.autocompleteghost button.actbresult:hover{background-color:#d7d7d7;color:#AC2217;}
#mainwrap .top-bar{border-bottom:0px solid #AC2217;}
#mainwrap .top-bar button{border-bottom:none;}
#tag-tree{border-top:3px dashed #AC2217;width:100%;position:absolute;top:50px;bottom:0px;overflow:auto;background-color:#5a1510}
#tag-tree>.treenode{border-bottom:1px #AC2217;border-top:none;background-color:#fff;line-height:20px;padding:2px;border-radius:3px;margin:4px 10px 4px 10px;background-color:#ececec}
.treenode{border-top:1px dashed #AC2217;border-bottom:none}
.treenode button{background-color:transparent;border:none;vertical-align:middle;}
.treeleaf{margin-left:6px}
.treenode .color{width:12px;height:12px;border:0px solid;border-radius:20px;margin:3px;}
input[type=text]{margin-bottom:11px;border-bottom:1px solid #7b7b7b !important;}
textarea{width:50%}
.testitem{border-bottom:dashed 1px black}
.dialog{max-height:80.1vh;font-size:18px;border:4px solid #000;width:70%;padding:10px;padding:0;background:#eeeeee;color:#AC2217;left:20%;top:5%;position:absolute;z-index:1000;-webkit-box-shadow:0px 0px 97px -9px rgba(0,0,0,0.75);-moz-box-shadow:0px 0px 97px -9px rgba(0,0,0,0.75);box-shadow:0px 0px 97px -9px rgba(0,0,0,0.75);}
.dialog *{vertical-align:middle}
.dialog-content{margin-top:5vh;overflow-y:scroll;max-height:70vh;}
.dialog-content select,.dialog input{color:#AC2217;font-size:24px;border:none;margin-left:10px;margin-top:10px;vertical-align:top;border-bottom:1px solid #ac2217}
.dialog-content button{background-color:transparent;color:#AC2217;font-size:24px;border:none;margin-left:10px;}
.dialog-content .input[type="color"]{height:30px}
.dialog-content .input[type="text"]{border:1px dashed #AC2217}
.dialog-content label{font-weight:bold;color:#5b5b5b;margin-left:8px;}
#uploadialog{width:98%;height:97%;margin-left:1%;top:1%;background-color:rgba(0,0,0,0.8);}
#filedialog{width:98%;margin-left:1%;top:1%;background-color:rgba(255,255,255,0.93);border:5px solid black;}
#imgeditdialog{width:40%;height:40%;margin-left:30%;top:20%;background-color:rgba(0, 0, 0, 0.8);padding:12px;}
#filedialog button{max-width:100px;max-height:100px;border:2px solid black;margin:9px;}
#filedialog img{max-width:100%;max-height:100%;}
button.closeupload{float:right;font-size:52px;color:#FFF;border:none;background-color:transparent;}
#uploadlog{color:#FFF}
.dialoghandler{width:100%;height:5vh;line-height:5vh;text-indent:12px;font-weight:bolder;color:#000;position:fixed;z-index:3;width:69.5%;border-bottom:0.1vh solid #000;background-color:#5b5b5b;color:#fff;font-family:monospace;}
.dialoghandler i{margin-left:1vh;}
#resultsview{position:absolute;top:50px;right:0;left:0;bottom:0;overflow:auto;padding-top:25px;border-top:3px solid #ac2217;}
#resultswrap{height:100%;bottom:0;overflow:auto}
#resultstable{border-collapse:collapse}
#resultstable td{border:1px solid rgba(90, 21, 16, 0.06);min-width:60px;padding:5px}
tr:nth-child(odd){background-color:#dddddd}
#resultstable th{text-align:left}
#resultstable th b{position:fixed;background-color:#AC2217;color:#FFF;padding:5px;width:100%;}
.langsel{margin-left:8px;border:1px solid #eeeeee;color:#5b5b5b;border-radius:3px 3px 0px 0px;font-weight:bold;box-sizing:border-box;padding:0px 8px 0px 8px;height:4vh;margin-top:1vh;line-height:3vh;background-color:#eeeeee;}
.langsel.not{border:1px solid #eeeeee;color:#eeeeee;background-color:#5b5b5b;}
.tab-content{width:73%;float:right;}
input[name=imgurl]{height:20vh;width:20vh;background-size:contain;color:transparent;border-bottom:none !important}
input[name=imgurl]:hover{cursor:pointer}
input[type=range]{-webkit-appearance:none;margin-left:20%;width:60%;}
input[type=range]:focus{outline:none;}
input[type=range]::-webkit-slider-runnable-track{width:100%;height:11px;cursor:pointer;animate:0.2s;box-shadow:1px 1px 1px #000000;background:#EBEBEB;border-radius:1px;border:0px solid #010101;}
input[type=range]::-webkit-slider-thumb{box-shadow:1px 1px 1px #000031;border:1px solid #00001E;height:26px;width:26px;border-radius:15px;background:#AC2217;cursor:pointer;-webkit-appearance:none;margin-top:-8px;}
input[type=range]:focus::-webkit-slider-runnable-track{background:#EBEBEB;}
input[type=range]::-moz-range-track{width:100%;height:11px;cursor:pointer;animate:0.2s;box-shadow:1px 1px 1px #000000;background:#EBEBEB;border-radius:1px;border:0px solid #010101;}
input[type=range]::-moz-range-thumb{box-shadow:1px 1px 1px #000031;border:1px solid #00001E;height:26px;width:26px;border-radius:15px;background:#AC2217;cursor:pointer;}
input[type=range]::-ms-track{width:100%;height:11px;cursor:pointer;animate:0.2s;background:transparent;border-color:transparent;color:transparent;}
input[type=range]::-ms-fill-lower{background:#EBEBEB;border:0px solid #010101;border-radius:2px;box-shadow:1px 1px 1px #000000;}
input[type=range]::-ms-fill-upper{background:#EBEBEB;border:0px solid #010101;border-radius:2px;box-shadow:1px 1px 1px #000000;}
input[type=range]::-ms-thumb{box-shadow:1px 1px 1px #000031;border:1px solid #00001E;height:26px;width:26px;border-radius:15px;background:#AC2217;cursor:pointer;}
input[type=range]:focus::-ms-fill-lower{background:#EBEBEB;}
input[type=range]:focus::-ms-fill-upper{background:#EBEBEB;}
input[type="color"]{border-radius:200px;width:20px;}
.html5tabletools{width:100%;}
.html5tabletools button{margin-right:15px;font-weight:bold;font-size:16px;color:#110303;background-color:#dad5d5;border:1px solid #977f7f;border-radius:4px;transition:all 100ms ease;padding:4px;vertical-align:-webkit-baseline-middle;}
.html5tabletools{background-color:#e8e8e8;padding:10px;}
a#resultstabledl{color:#e8e8e8;background-color:#2d8e43;border-radius:4px;border-left:2px solid #5a1510;border-bottom:1px solid #5a1510;padding:4px;font-weight:bold;vertical-align:-webkit-baseline-middle;}
.html5tabletools button i,.html5tabletools a i{}
tr.selected{background-color:#c9cff6;}
.html5tabletools button:hover{background-color:white;color:#5a1510;}
#resultstable th b:hover{background-color:#8c98cb !important;cursor:pointer;}
#resizebar{position:absolute;width:5px;top:0px;bottom:0px;left:341px;background-color:#ccc;height:100%;z-index:100}
#resizebar:hover{cursor:e-resize}
.noleft #mainwrap{left:5px !important}.noleft #leftwrap{overflow:hidden;width:0%;opacity:0;}.noleft #resizebar{left:0 !important}
.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#backup-icon{transition: all 300ms ease-in-out;transform-origin: center;}